**/__pycache__
conversation_analyzer/db.sqlite3
conversation_analyzer/analyzer/migrations/*.py
!conversation_analyzer/analyzer/migrations/__init__.py

conversation_analyzer/media/uploaded_documents/*
!conversation_analyzer/media/uploaded_documents/.gitkeep
conversation_analyzer/media/ingestion_saves/*
!conversation_analyzer/media/ingestion_saves/.gitkeep

.env
myenv
venv

**/.gitlab-ci-local
__pycache__
*.lock
.DS_Store
unhandled_errors.txt